version: "3.9"

services:
  discord_bot:
    build: .
    container_name: wiki_support_bot
    restart: unless-stopped
    env_file: .env
    volumes:
      - .:/app
      - ./google-creds.json:/app/google-creds.json:ro
